@charset "utf-8"

*{
    margin:0px; 
    padding:0px; 
    font:100%;
}

body
{
	background-color: #E1D2BF;
	text-align:center;
}

nav{

 background-color: #85B7BF;
}


figure
{
	float: letf;
	
}
figure img:hover
{
	-webkit-transform:scale(1,2);
	-webkit-transform:rotate(2deg);
}

h1{
    text-align: center;
    margin: 10px;
}


.header{
	padding: 10px; 
    background-color: #85B7BF;	
	text-decoration: none;
    color: #290D00;
}

.espacio{
    padding: 10px; 
}

.padre{
    display: flex; /* Para poner cosas segidas  */
    background-color: #85B7BF;
}

.padre a
{ 
    color:#FFFFFF; 
    background-color: #85B7BF;
    text-decoration: none;
    float:left;
}

.padre a:hover 
{
    background-color:#3D3127; 
    margin: 2px;
    
    
}


.lateral{
    background-color: whitesmoke;
    float: left;
    text-align: center;
    font-style: unset;
    margin:5px;
    height: 390px;
    width: 250px;
}
